body {
				Zpadding-top: 40px;
				Zpadding-bottom: 40px;
				Zbackground-color: #f5f5f5;
}

#page {
				margin: 0 auto;
				padding: 20px;
				background-color: #ffffff;
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4',
								endColorstr='#ffffff'); /* for IE */
				background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea),
								to(#ffffff)); /* for webkit browsers */
				background: -moz-linear-gradient(top, #f2f2f2, #ffffff);
				/* for firefox 3.6+ */;
}

#instructions {
				padding: 40px 0 40px;
				text-align: center;
				color: #666;
}

.form-signin {
				max-width: 300px;
				padding: 19px 29px 29px;
				margin: 0 auto;
				background-color: #fff;
				border: 1px solid #e5e5e5;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
				-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
				box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading,.form-signin .checkbox {
				margin-bottom: 10px;
}

.form-signin input[type="text"],.form-signin input[type="password"] {
				font-size: 16px;
				height: auto;
				margin-bottom: 6px;
				padding: 7px 9px;
}

#secure {
				padding: 40px 0 40px;
				text-align: center;
				color: #666;
}

#links {
				padding: 0px 0 40px;
				text-align: center;
				color: #666;
}
